# Ignorar archivos de dependencias
node_modules/
dist/
build/

# Ignorar archivos de entorno local
.env
.env.local
.env.development
.env.production

# Ignorar archivos de configuración local
.vscode/
.idea/

# Ignorar archivos generados por el sistema
.DS_Store
Thumbs.db

# Ignorar archivos de logs y caché
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignorar archivos de coverage (pruebas)
coverage/

# Ignorar archivos de paquetes
*.zip
*.tar.gz

# Ignorar archivos de Vite
.cache/
.temp/